body {
    
        height: 100%;
        margin: 0;
        
    
}

.cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/images/signup.jpg') no-repeat center center fixed;
    background-size: cover;
}

.form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}