.actions {
    .left-side {
        .btn {
            margin-right: 5px;
        }
    }
}
.travels-content {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "list map";
    gap: 1rem;
}

.travels-list {
    grid-area: list;
}

.travels-map {
    grid-area: map;
}
