.filter-button {
  background-color: #f0f0f0; /* Default background color */
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button.all {
  background-color: #d4edda; /* Light green */
}

.filter-button.favorites {
  background-color: #f8d7da; /* Light red */
}

.filter-button.flag {
  background-color: #d1ecf1; /* Light blue */
}

.filter-button.active {
  color: #fff;
}

.filter-button.all.active {
  background-color: #28a745; /* Green */
}

.filter-button.favorites.active {
  background-color: #dc3545; /* Red */
}

.filter-button.flag.active {
  background-color: #007bff; /* Blue */
}

.filter-button:hover {
  background-color: #e0e0e0; /* Slightly darker for hover */
}

.travels-content {
  display: flex;
  flex-wrap: wrap;
}

.travels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
