.todo {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em !important;
    gap: 0.5em;
    color: var(--text-color) !important;
    background-color: var(--secondary-color);

    & button {
        width: 0.5em;
        height: 0.5em;
    }
}
