.badge {
    padding: 0.5rem !important;

    i {
        color: #000;
        font-size: 1rem;
    }
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.badge:hover .tooltip-text {
    visibility: visible;
}
