@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #2d527c;
  --secondary-color: #cee8fa;
  --text-color: #2e2e2e;
  --subtext-color: #818181;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.btn-primary-custom {
  background-color: var(--primary-color) !important;
  color: white !important;

  &:hover {
    opacity: 0.9;
  }
}
