@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #2d527c;
  --secondary-color: #cee8fa;
  --text-color: #2e2e2e;
  --subtext-color: #818181;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url('./assets/images/signup.jpg') no-repeat center center fixed;
  background-size: cover;
}